*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins-Regular;
    font-weight: normal;
    color: #23262F;
}
:root{
    --bg-py: #777E90;
    --bg-sy: #3B71FE;
}

.container{
    max-width: 1152px;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
}
.container__lg{
    max-width: 1312px;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
}
body{
    background: #FCFCFD;
}
img{
    max-width: 100%;
}
a{
    color: inherit;
    text-decoration: inherit;
}
li{
    list-style: none;
}
button,
input{
    border: none;
    outline: none;
    transition: all .5s ease;
}
.global__btn{
    padding: 16px 24px;
    background: var(--bg-sy);
    color: #FCFCFD;
    border-radius: 90px;
    font-family: DMSans-Bold;
    letter-spacing: 1px;
}
.global__btn:hover{
    background: var(--bg-py);
}