@media (max-width: 1024px) {
    /* HEADER */
    .navbar__item{
        display: none;
    }
    .hero__title{
        font-size: 64px;
        letter-spacing: 1px;
        font-weight: 700;
    }
    
  
}
@media (max-width: 768px) {
    /* HEADER */
    .navbar__btn{
        display: none;
    }
    .navbar__select{
        display: none;
    }
    .navbar__menu{
        display: block;
    }
    /* RENT */
    .rent__wrapper{
        flex-direction: column;
    }
    /* EXPLORE */
    .explore__wrapper{
        grid-template-columns: 1fr 1fr;
    }
    /* SERVICES */
    .services__wrapper{
        grid-template-columns: 1fr 1fr;
    }
    .services__logo-wrapper{
        grid-template-columns: 1fr 1fr;
    }
    .services__logo-card{
        border-right: none;
    }
    /* FOOTER */
    .footer__navbar{
        flex-direction: column;
    }
    .footer__content{
        grid-template-columns: 1fr 1fr;
        grid-gap: 0px;
        padding-top: 48px;
    }
     

}
@media (max-width: 375px) {
    /* HERO */
    .hero__content{
        text-align: center;
    }
    /* LOCATION */
    .location{
        padding: 64px 0 64px;
    }
    .location__text-wrapper{
        display: block;
    }
    .location__title{
        font-size: 40px;
    }
    .location__action:nth-child(2){
        display: none;
    }
    .location__action:nth-child(3){
        display: block;
        padding-top: 48px;
        display: flex;
    }
    /* RENT */
    .rent__title{
        font-size: 40px;
    }
    .rent__image-item:nth-child(2){
        display: block;
    }
    .rent__image-item:nth-child(1){
        display: none;
    }
    /* EXPLORE */
    .explore{
        padding-bottom: 64px;
    }
    .explore__wrapper{
        grid-template-columns: 1fr;
    }
    .explore__wrapper .location__card:nth-child(4),
    .explore__wrapper .location__card:nth-child(5),
    .explore__wrapper .location__card:nth-child(6),
    .explore__wrapper .location__card:nth-child(7),
    .explore__wrapper .location__card:nth-child(8),
    .explore__wrapper .location__card:nth-child(9) {
    display: none;
    }
    /* SERVICES */
    .services__wrapper{
        grid-template-columns: 1fr;
        padding-bottom: 64px;
    }
    .services__logo-wrapper{
        grid-template-columns: 1fr;
    }
    /* FAQ */
    .faq{
        padding: 64px 0 64px;
    }
    .faq__title{
        font-size: 40px;
    }
    .faq__actions{
        width: 100%;
    }
    .faq__actions i{
        display: block;
    }
    .faq__actions button:nth-child(1){
        width: 100%;
        border: 2px solid #E6E8EC;
        border-radius: 12px;
        background: inherit;
        color: #000;
        padding: 0;
        height: 48px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 12px;
    }
    .faq__actions button:nth-child(2),
    .faq__actions button:nth-child(3),
    .faq__actions button:nth-child(4){
        display: none;
    }
    /* CARS */
    .cars__title-text{
        font-size: 30px;
    }
    .cars__content, .location__action:nth-child(2){
      display: block;
      text-align: center;
    }
}